{% extends "ArmazemBarBundle::layout.html.twig" %}
{% form_theme form 'ArmazemBarBundle:Form:fields.html.twig' %}
{% form_theme form.baixaBebidas 'ArmazemBarBundle:Form:comprabebidas.html.twig' %}

{% block title %}Do Armazêm Bar | Baixa{% endblock %}
{% block head %}
    <script src="{{ asset('bundles/armazembar/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        
        
        var $baixaBebidas;

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var $newForm = jQuery("<tr>"+ prototype.replace(/__name__/g, index) +"<td></td></tr>");

            $collectionHolder.data('index', index + 1);
            $newForm.find(".quantidade").addClass("form-control").keyup(function () {
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({min: 1, change: quantidadeChange}).attr("min", "1");
            $newForm.find(".estoque").change(estoqueChange);
            
            $newForm.find('select').change(bebidaChange).select2();

            addTagFormDeleteLink($newForm);
            $collectionHolder.find('table').show();
            $collectionHolder.find('table tbody').append($newForm);
            jQuery('.select2-container').css("width", "100%");
            jQuery("#salvar").removeAttr("disabled");
        }
        
        function addTagFormDeleteLink($newForm) {
            var $removeForm = jQuery('<a class="btn btn-default pull-right" href="#"><em class="fa fa-remove" ></em></a>');
            $coluna = $newForm.find("td:last").append($removeForm);
            $removeForm.on('click', function(e) {
                e.preventDefault();
                $table = jQuery(this).closest("table");
                jQuery(this).closest("tr").remove();
                escondeTabela($table);
            });
        }
        
        function  escondeTabela($table) {
            if (!jQuery.trim($table.find("tbody").html())){
                $table.hide();
            }
            if (!jQuery.trim(jQuery("#bebidas table tbody").html())){
                jQuery("#salvar").attr("disabled", "disabled");
            }
        }
        
        
        function bebidaChange() {
            var $select = jQuery(this);
            if (this.value != "") {
                jQuery(".locked").fadeIn();
                jQuery.get("{{ path('bebida_estoque') }}", { bebida: this.value }, function (retorno){
                    $select.closest("tr").find(".estoque").val(retorno).trigger("change");
                    $select.closest("tr").find(".quantidade").attr("max", retorno);
                    jQuery(".locked").fadeOut();
                });
            } else {
                $select.closest("tr").find(".estoque").val(0).trigger("change");
                $select.closest("tr").find(".quantidade").val(0).trigger("change").attr("max", "");
            }
        }

        function quantidadeChange() {
            var valorUnidade = jQuery(this).closest("tr").find(".valor_unidade").val() ? parseFloat(jQuery(this).closest("tr").find(".valor_unidade").val()) : 0;
            jQuery(this).closest("tr").find(".valor_total").val(valorUnidade*parseFloat(jQuery(this).val())).trigger("change");
        }
        
        function  estoqueChange() {
            if (jQuery(this).closest("td").children().length == 1) {
                jQuery(this).closest("td").append(jQuery("<span class=\"h4\"></h4>"))
            }
            jQuery(this).closest("td").find(".h4").html(jQuery(this).val());
        }

        
        jQuery(document).ready(function () {
            $baixaBebidas = jQuery('#bebidas');
            
            $baixaBebidas.find("input").keyup(function () {
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({min: 1});

            $baixaBebidas.find('select').select2({minimumResultsForSearch: -1,});
            jQuery('.select2-container').css("width", "100%");

            $baixaBebidas.data('index', $baixaBebidas.find('div').length);

            jQuery("#add-bebida").on('click', function(e) {
                e.preventDefault();
                addTagForm($baixaBebidas);
            });
            
            jQuery('#baixa_data').datepicker().mask("99/99/9999");
            jQuery('#loading').hide();
            
            escondeTabela(jQuery('table'));
            
            jQuery.extend(jQuery.validator.messages, {
                max: jQuery.validator.format("A quantidade em estoque estoque dessa bebida é de {0}."),
            });

            jQuery("form").validate({
                highlight: function (element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function (error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                validClass: "",
                submitHandler: function (form) {
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
                }
            });

        });

    </script>
{% endblock %}

{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-sign-out"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('baixa_index') }}">Baixas</a></li>
                    <li>{{ baixa.getid>0 ? "Editar" : "Cadastrar" }} Baixa</li>
                </ul>
                <h4>{{ baixa.getid>0 ? "Editar" : "Cadastrar" }} Baixa</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form, {'attr' : {'class' : 'form-horizontal form-bordered'}}) }}
                {{ form_errors(form) }}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(form.data) }}
                    </div><!-- panel-body -->
                </div><!-- panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <div class="row">
                                <div class="col-sm-6">Bebidas</div>
                                <div class="col-sm-6">
                                    <button id="add-bebida" type="button" class="btn btn-success pull-right">Adicionar Bebidas</button>
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="bebidas" data-index="{{ form.baixaBebidas.count }}" data-prototype="{{ form_widget(form.baixaBebidas.vars.prototype)|e  }}" class="bebidas">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Bebida</th>
                                            <th>Quantidade</th>
                                            <th>Estoque</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for baixaBebida in form.baixaBebidas %}
                                        <tr>
                                            {{ form_row(baixaBebida) }}
                                        </tr>
                                        {% endfor %} 
                                        
                                    </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div><!-- panel -->

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <img src="{{ asset('bundles/armazembar/images/loading.gif') }}" id="loading" alt="Carregando" />
                                <button disabled="" id="salvar" class="btn btn-primary mr5">Salvar</button>
                                <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->


                {{ form_end(form) }}

            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- contentpanel -->
{% endblock %}
