{% extends "ArmazemBarBundle::layout.html.twig" %}
{% block title %}Armazém Bar | Bebida{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/armazembar/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/armazembar/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/armazembar/js/select2.min.js') }}"></script>
    
    <script>
        var table;
        jQuery(document).ready(function(){
            jQuery("#msgs").hide();
            table = jQuery('#bebidas').DataTable({
                    "drawCallback": function( settings ) {
                        jQuery('.locked').hide();
                    },
                    responsive: true,
{#                    "serverSide": true,#}
                    "ajax": "{{ path('bebida_pagination') }}",
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [ 3 ] }
                     ]
            });

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
            


        });
        
        function trocarStatus(id, status) {
            var strStatus = status ? "Ativar" : "Desativar";
            bootbox.confirm("Deseja realmente "+strStatus+" esta Bebida?", function(result) {
                if (result) {
                    jQuery('.locked').fadeIn(50);
                    jQuery.post("{{ path('bebida_status') }}", {id: id, status: status}, callback, "json");
                }
            });
        }
        function excluir(id) {
            bootbox.confirm("Deseja realmente excluir esta Bebida (NÂO será possível a seua recuperação)?", function(result) {
                if (result) {
                    jQuery('.locked').fadeIn(50);
                    jQuery.post("{{ path('bebida_excluir') }}", {id: id}, callback, "json");
                }
            });
        }
        
        function callback(data) {
            jQuery(".alert").remove();
            table.ajax.reload();
            jQuery("#msgs").append(data.message).fadeIn();
        }
        
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-glass"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>Bebidas</li>
                </ul>
                <h4>Bebidas</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('bebida_form') }}" class="btn btn-primary">Cadastrar Bebida</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                {% for msg in success %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ msg|raw }}
                </div>
                {% endfor %}
                
                <div id="msgs"></div>
                
                <table id="bebidas" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Quant. Estoque</th>
                            <th>Ativo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
