{% extends "ArmazemBarBundle::layout.html.twig" %}
{% block title %}Do Armazêm Bar | Frente de Caixa{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/armazembar/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/armazembar/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/armazembar/js/select2.min.js') }}"></script>

    <script>
        var table;
        var tableConcluidos;
        var par = 0;

        function format(d) {
            var html = '<div class=\"row\"><div class=\"col-sm-12\"><table class="table table-bordered">'+
                    '<thead>' +
                    '<tr>' +
                    '<th>Bebida</th>' +
                    '<th>Quantidade</th>' +
                    '</tr>'+
                    '</thead>';
                    '<tbody>';
            jQuery.each(d.pedido_bebidas, function(index, value) {
                html += '<tr>' +
                        '<td>' + value.descricao + '</td>' +
                        '<td>' + value.quantidade + '</td>' +
                        '</tr>';
            }); 
            html += '</tbody></table>';
            
            html += '<table class="table table-bordered">'+
                    '<thead>' +
                    '<tr>' +
                    '<th>Bebida</th>' +
                    '<th>Quantidade</th>' +
                    '<th>Observações</th>' +
                    '</tr>'+
                    '</thead>';
                    '<tbody>';
            jQuery.each(d.pedido_produtos, function(index, value) {
                html += '<tr>' +
                        '<td>' + value.descricao + '</td>' +
                        '<td>' + value.quantidade + '</td>' +
                        '<td>' + value.observacoes + '</td>' +
                        '</tr>';
            }); 
            
            html += '</tbody></table></div></div>';
            
            if (d.situacao == "Concluído" || d.situacao == "Cancelado") { 
                return html;
            }
            
            var buttons = "<div class=\"row\"><div class=\"col-sm-12\"><div class=\"btn-group pull-right\">";
            buttons += "<button class=\"btn btn-danger\" onclick=\"javascript:cancelar("+  d.numero +")\">Cancelar</button>";
            if (d.situacao == "Na Fila") {
                buttons += "<button class=\"btn btn-primary\" onclick=\"javascript:producao("+  d.numero +")\">Produção</button>";
            } else if (d.situacao == "Em Produção") {
                buttons += "<button class=\"btn btn-success\" onclick=\"javascript:finalizar("+  d.numero +")\">Finalizar</button>";
            }
            buttons += "</div></div></div>";
            
            return html+buttons;
        }
        
        function cancelar(numero)
        {
            trocarStatus("Deseja realmente cancelar o Pedido <strong>Nº "+numero+"</strong> (NÂO será possível será possível reverter)?", numero, "", 1);
        }
        
        function finalizar(numero)
        {
            trocarStatus("Deseja realmente finalizar o Pedido <strong> Nº "+numero+"</strong> (NÂO será possível será possível reverter)?", numero, "C", 0);
        }
        
        function producao(numero)
        {
            trocarStatus("Deseja realmente colocar o Pedido <strong>Nº "+numero+"</strong> em produção (NÂO será possível será possível reverter)?", numero, "P", 0);
        }
        
        function trocarStatus(mensagem, numero, status, cancelar)
        {
            bootbox.confirm(mensagem, function(result) {
                if (result) {
                    jQuery('.locked').fadeIn(50);
                    jQuery.post("{{ path('pedido_cozinha_status') }}", 
                    {
                        numero:     numero,
                        status:     status,
                        cancelar:   cancelar,
                    }, 
                    callback, "json");
                }
            });
        }
        
        function callback(data) {
            jQuery(".alert").remove();
            table.ajax.reload();
            tableConcluidos.ajax.reload();
            jQuery("#msgs").append(data.message).fadeIn();
        }
        
        function setDataTable(table, concluidos)
        {
            return table.DataTable({
                    responsive: true,
                    "drawCallback": function( settings ) {
                        par++;
                        if (par%2 == 0) {
                            jQuery('.locked').hide();
                        }
                    },
                    "ajax": {
                        "url": "{{ path('pedido_cozinha_pagination') }}",
                        "data": function ( d ) {
                            d.concluídos = concluidos;
                            d.cancelados = 1;
                        }
                    },
                    "columns": [
                        {
                            "className":      'details-control',
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": ''
                        },
                        {"data": "numeroHtml"},
                        {"data": "situacaoHtml"},
                    ],
                });
        }
        
        function recarregarPedidos()
        {
            jQuery('.locked').fadeIn(50);
            table.ajax.reload();
            tableConcluidos.ajax.reload();        
        }


        jQuery(document).ready(function () {
            jQuery("#msgs").hide();
            table = setDataTable(jQuery("#pedidos"), 0);
            tableConcluidos = setDataTable(jQuery("#pedidosConcluidos"), 1);

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });

            jQuery('#pedidos, #pedidosConcluidos').on('click', 'tbody td.details-control', function () {
                var tr = jQuery(this).closest('tr');
                var id = jQuery(this).closest('table').attr("id");
                if (id == 'pedidos') {
                    var row = table.row( tr );
                } else {
                    var row = tableConcluidos.row( tr );
                }

                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.removeClass('active');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                    tr.addClass('active');
                }
            } );

        });


    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-money"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>Frente de Caixa</li>
                </ul>
                <h4>Frente de Caixa</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
    <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a title="Novo Pedido" class="btn btn-default" href="{{ path('pedido_novo') }}"><em class="fa fa-plus"></em></a>
                <button onclick="recarregarPedidos()" title="Recarregar pedidos" class="btn btn-default"><em class="fa fa-refresh"></em></button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                {% for msg in success %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ msg|raw }}
                    </div>
                {% endfor %}

                <div id="msgs"></div>
                
                
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pedidos</h3>
                    </div>
                    <div class="panel-body" style="display: block;">
                        <table id="pedidos" class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">Detalhes</th>
                                    <th>Número</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pedidos Finalizados</h3>
                    </div>
                    <div class="panel-body" style="display: block;">
                        <table id="pedidosConcluidos" class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">Detalhes</th>
                                    <th>Número</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                
            </div>
        </div><!-- panel -->
    </div><!-- contentpanel -->
{% endblock %}
