{% extends "ArmazemBarBundle::layout.html.twig" %}
{% form_theme form 'ArmazemBarBundle:Form:fields.html.twig' %}
{% form_theme form.pedidoProdutos 'ArmazemBarBundle:Form:pedido.html.twig' %}
{% form_theme form.pedidoBebidas 'ArmazemBarBundle:Form:comprabebidas.html.twig' %}

{% block title %}Do Armazêm Bar | Novo Pedido{% endblock %}
{% block head %}
    <script src="{{ asset('bundles/armazembar/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        
        
        var $pedidoBebidas;
        var $pedidoProdutos;

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var $newForm = jQuery("<tr>"+ prototype.replace(/__name__/g, index) +"<td></td></tr>");

            $collectionHolder.data('index', index + 1);
            $newForm.find(".quantidade").addClass("form-control").keyup(function () {
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({min: 1, change: quantidadeChange}).attr("min", "1");
            
            $newForm.find(".estoque").change(estoqueChange);
            $newForm.find(".valor_unidade").change(valorUnidadeChange);
            $newForm.find(".valor_total").change(valorTotalChange);
            
            $newForm.find('select').change(bebidaChange).select2();

            if ($collectionHolder.attr("id") == "bebidas") {
{#                addQuantidadeEstoque($newForm);#}
            }
            addTagFormDeleteLink($newForm);
            $collectionHolder.find('table').show();
            $collectionHolder.find('table tbody').append($newForm);
            jQuery('.select2-container').css("width", "100%");

        }
        
        function addTagFormDeleteLink($newForm) {
            var $removeForm = jQuery('<a class="btn btn-default pull-right" href="#"><em class="fa fa-remove" ></em></a>');
            $coluna = $newForm.find("td:last").append($removeForm);
            $removeForm.on('click', function(e) {
                e.preventDefault();
                $table = jQuery(this).closest("table");
                jQuery(this).closest("tr").remove();
                escondeTabela($table);
            });
        }
        function addQuantidadeEstoque($newForm) {
            var $estoqueForm = jQuery('<span class="estoque">Estoque</span>');
            var $div = jQuery("<div class='col-sm-1'></div>");
            $div.append($estoqueForm);
            $newForm.children().append($div);
        }
        
        function  escondeTabela($table) {
            if (!jQuery.trim($table.find("tbody").html())){
                $table.hide();
            }
        }
        
        function bebidaChange() {
            var $select = jQuery(this);
            jQuery(".locked").fadeIn();
            if (this.value != "") {
                jQuery.get("{{ path('bebida_estoque') }}", { bebida: this.value }, function (retorno){
                    $select.closest("tr").find(".estoque").val(retorno).trigger("change");
                    $select.closest("tr").find(".quantidade").attr("max", retorno);
                    jQuery.get("{{ path('bebida_preco_venda') }}", { bebida: $select.val() }, function (retorno){
                        $select.closest("tr").find(".valor_unidade").val(retorno).trigger("change");
                        jQuery(".locked").fadeOut();
                    });
                });
            }
        }
        
        function quantidadeChange() {
            var valorUnidade = jQuery(this).closest("tr").find(".valor_unidade").val() ? parseFloat(jQuery(this).closest("tr").find(".valor_unidade").val()) : 0;
            jQuery(this).closest("tr").find(".valor_total").val(valorUnidade*parseFloat(jQuery(this).val())).trigger("change");
        }
        
        function  estoqueChange() {
            if (jQuery(this).closest("td").children().length == 1) {
                jQuery(this).closest("td").append(jQuery("<span class=\"h4\"></h4>"))
            }
            jQuery(this).closest("td").find(".h4").html(jQuery(this).val());
        }
        function  valorUnidadeChange() {
            var quantidade = jQuery(this).closest("tr").find(".quantidade").val() ? parseFloat(jQuery(this).closest("tr").find(".quantidade").val()) : 0;
            if (jQuery(this).closest("td").children().length == 1) {
                jQuery(this).closest("td").append(jQuery("<span class=\"h4\"></h4>"))
            }
            console.log(quantidade);
            console.log(parseFloat(jQuery(this).val()));
            jQuery(this).closest("td").find(".h4").html(new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'BRL' }).format(jQuery(this).val()));
            jQuery(this).closest("tr").find(".valor_total").val(quantidade*parseFloat(jQuery(this).val())).trigger("change");
        }
        function  valorTotalChange() {
            if (jQuery(this).closest("td").children().length == 1) {
                jQuery(this).closest("td").append(jQuery("<span class=\"h4\"></h4>"))
            }
            jQuery(this).closest("td").find(".h4").html(new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'BRL' }).format(jQuery(this).val()));
        }

        jQuery(document).ready(function () {
            
            
            $pedidoBebidas = jQuery('#bebidas');
            $pedidoProdutos = jQuery('#produtos');
            

            $pedidoBebidas.data('index', '0');
            $pedidoProdutos.data('index', '0');

            jQuery("#add-bebida").on('click', function(e) {
                e.preventDefault();
                addTagForm($pedidoBebidas);
            });
            
            jQuery("#add-produto").on('click', function(e) {
                e.preventDefault();
                addTagForm($pedidoProdutos);
            });
            
            jQuery('#loading').hide();


            jQuery.extend(jQuery.validator.messages, {
                max: jQuery.validator.format("A quantidade em estoque estoque dessa bebida é de {0}."),
            });

            jQuery("form").validate({
                highlight: function (element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function (error, element) {
                    jQuery(element).closest("td").append(error);
                },
                ignore: [],
                validClass: "",
                submitHandler: function (form) {
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
                }
            });
            
            

        });

    </script>
{% endblock %}

{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-sign-in"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li>Novo Pedido</li>
                </ul>
                <h4>Novo Pedido</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form, {'attr' : {'class' : 'form-horizontal form-bordered'}}) }}
                {{ form_errors(form) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <div class="row">
                                <div class="col-sm-6">Bebidas</div>
                                <div class="col-sm-6">
                                    <button id="add-bebida" type="button" class="btn btn-success pull-right">Adicionar Bebidas</button>
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="bebidas" data-index="{{ form.pedidoBebidas.count }}" data-prototype="{{ form_widget(form.pedidoBebidas.vars.prototype)|e  }}" class="bebidas">
                                <table style="display: none" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Bebida</th>
                                            <th>Quantidade</th>
                                            <th>Estoque</th>
                                            <th>Valor unid.:</th>
                                            <th>Valor Total:</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pedidoBebidas in form.pedidoBebidas %}
                                        <tr>
                                            {{ form_row(pedidoBebidas) }}
                                        </tr>
                                        {% endfor %} 
                                        
                                    </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div><!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <div class="row">
                                <div class="col-sm-6">Produtos</div>
                                <div class="col-sm-6">
                                    <button id="add-produto" type="button" class="btn btn-success pull-right">Adicionar Produtos</button>
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="produtos" data-prototype="{{ form_row(form.pedidoProdutos.vars.prototype)|e  }}" class="bebidas">
                                {% for pedidoProduto in form.pedidoProdutos %}
                                    {{ form_row(pedidoProduto) }}
                                {% endfor %} 
                             </div>
                        </div>
                    </div>
                </div><!-- panel -->

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <img src="{{ asset('bundles/armazembar/images/loading.gif') }}" id="loading" alt="Carregando" />
                                <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                                <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div><!-- panel -->
                {{ form_end(form) }}

            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- contentpanel -->
{% endblock %}
