{% extends "ArmazemBarBundle::layout.html.twig" %}
{% block title %}Armazém Bar | Prato{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/armazembar/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/armazembar/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/armazembar/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/armazembar/js/select2.min.js') }}"></script>
    
    <script>
        var table;
        jQuery(document).ready(function(){
            jQuery("#msgExclusão, #msgerror").hide();
            table = jQuery('#pratos').DataTable({
                    "drawCallback": function( settings ) {
                        jQuery('.locked').hide();
                    },
                    responsive: true,
{#                    "serverSide": true,#}
                    "ajax": "{{ path('prato_pagination') }}",
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [ 2 ] }
                     ]
            });

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
            


        });
        
        function trocarStatus(id, status) {
            var strStatus = status ? "Ativar" : "Desativar";
            bootbox.confirm("Deseja realmente "+strStatus+" este Prato?", function(result) {
                if (result) {
                    jQuery('.locked').fadeIn(50);
                    jQuery.post("{{ path('prato_status') }}", {id: id, status: status}, function(data){
                        jQuery(".alert").fadeOut();
                        table.ajax.reload();
                        if (data.ok==1) {
                            jQuery("#msgExclusão").fadeIn();
                        } else {
                            jQuery("#msgerror").append(data.error).fadeIn();
                        }
                    }, "json");
                }
            });
        }
        function excluir(id) {
            bootbox.confirm("Deseja realmente excluir este Prato?", function(result) {
                if (result) {
                    jQuery('.locked').fadeIn(50);
                    jQuery.post("{{ path('prato_excluir') }}", {id: id}, function(data){
                        jQuery(".alert").fadeOut();
                        table.ajax.reload();
                        if (data.ok==1) {
                            jQuery("#msgExclusão").fadeIn();
                        } else {
                            jQuery("#msgerror").append(data.error).fadeIn();
                        }
                        
                    }, "json");
                }
            });
        }
        
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-cutlery"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>Pratos</li>
                </ul>
                <h4>Pratos</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('prato_form') }}" class="btn btn-primary">Cadastrar Pratos</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                {% if incluido %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Prato <strong>incluído</strong>  com sucesso.
                </div>
                {% endif %}
                {% if alterado %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Prato <strong>alterado</strong>  com sucesso.
                </div>
                {% endif %}
                
                <div id="msgExclusão" class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Prato <strong>excluído</strong> com sucesso.
                </div>
                <div id="msgerror" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                </div>
                <table id="pratos" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ativo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
