<div class="leftpanel">

    <h5 class="leftpanel-title">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.get('_route') == 'index' %} class="active"{% endif %}>
            <a href="{{ path('index') }}">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        {% if is_granted('ROLE_USUARIO') %}
        <li class="{% if 'usuario' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('usuario_index') }}"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_PRATO') %}
        <li class="{% if 'prato' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('prato_index') }}"><i class="fa fa-cutlery"></i> <span>Pratos</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_BEBIDA') %}
        <li class="{% if 'bebida' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('bebida_index') }}"><i class="fa fa-glass"></i> <span>Bebidas</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_COMPRA') %}
        <li class="{% if 'compra' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('compra_form') }}"><i class="fa fa-sign-in"></i> <span>Compra de bebidas</span></a></li>
        {% endif  %}
    </ul>

</div><!-- leftpanel -->
