<div class="leftpanel">

    <h5 class="leftpanel-title">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.get('_route') == 'index' %} class="active"{% endif %}>
            <a href="{{ path('index') }}">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        {% if is_granted('ROLE_PEDIDO') %}
        <li class="{% if 'pedido_caixa' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('pedido_caixa') }}"><i class="fa fa-money"></i> <span>Frente de Caixa</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_COZINHA') %}
        <li class="{% if 'pedido_cozinha' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('pedido_cozinha') }}"><i class="fa fa-cutlery"></i> <span>Cozinha</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_PRODUTO') %}
        <li class="{% if 'produto' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('produto_index') }}"><i class="fa fa-cubes"></i> <span>Produtos</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_BEBIDA') %}
        <li class="{% if 'bebida' in app.request.get('_route') or  'compra' in app.request.get('_route') or 'baixa' in app.request.get('_route') %} active{% endif %} parent">
            <a href=""><i class="fa fa-glass"></i> <span>Bebidas</span></a>
            <ul class="children">
                <li class="{% if 'bebida' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('bebida_index') }}">Consulta</a></li>
                    {% if is_granted('ROLE_COMPRA') %}
                    <li class="{% if 'compra' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('compra_index') }}">Compra de bebidas</a></li>
                    {% endif  %}
                    {% if is_granted('ROLE_BAIXA') %}
                    <li class="{% if 'baixa' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('baixa_index') }}">Baixa de bebidas</a></li>
                    {% endif  %}
            </ul>
        </li>
        {% endif  %}
        {% if is_granted('ROLE_PEDIDO') %}
        <li class="{% if 'pedido_index' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('pedido_index') }}"><i class="fa fa-list"></i> <span>Histórico de pedidos</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_USUARIO') %}
        <li class="{% if 'usuario' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('usuario_index') }}"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
        {% endif  %}
        {% if is_granted('ROLE_RELATORIO') %}
        <li class="{% if 'relatorio' in app.request.get('_route')  %} active{% endif %}"><a href="{{ path('relatorio_index') }}"><i class="fa fa-bar-chart"></i> <span>Relatório</span></a></li>
        {% endif  %}
    </ul>

</div><!-- leftpanel -->
